.quarto/
.Rproj.user/
.Rhistory
.RData
.Ruserdata
groq_key.txt
README.html
index.html
index_files/
outputs/scenarios.sqlite
rsconnect/

#Prevents uploading raw data files
data/
*.xlsx

#Allow models and outputs to be pushed
#*.rds
#*.csv
#models/